<ion-header [translucent]="true" no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: small" class="ion-text-center">
      Mapa general de avisos
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="map"></div>
</ion-content>