<ion-app>
  <ion-header translucent>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Detalle - Aviso</ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card class="ion-text-center">
      <ion-card-header>
        <hr>
        <ion-card-subtitle>Aviso:</ion-card-subtitle>
        <ion-card-title>{{post.category}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{post.detail}}</ion-card-content>
      <ion-card-content>
        <hr>
        <ion-card-subtitle>La información es correcta? Por favor, califique el aviso</ion-card-subtitle>
        <br>
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <div>
                <ion-progress-bar class="ion-padding-bottom ion-margin-bottom" color="success" value={{countLike}}
                  buffer="0.1"></ion-progress-bar>
              </div>
            </ion-col>
            <ion-col size="2">
              <div>
                {{post.liked}}<ion-icon color="success" name="thumbs-up-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10">
              <div>
                <ion-progress-bar class="ion-padding-bottom ion-margin-bottom" color="danger" value={{countDislike}}
                  buffer="0.1"></ion-progress-bar>
              </div>
            </ion-col>
            <ion-col size="2">
              <div>
                {{post.disliked}}<ion-icon color="danger" name="thumbs-down-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div>
          <ion-chip outline color="success" (click)="increaseProgressUp()">
            <ion-icon color="success" name="thumbs-up-outline"></ion-icon>
            <ion-label color="success">Verdadero</ion-label>
          </ion-chip>
          <ion-chip outline color="danger" (click)="increaseProgressDown()">
            <ion-icon color="danger" name="thumbs-down-outline"></ion-icon>
            <ion-label color="danger">Falso</ion-label>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>