<ion-app>
  <ion-header translucent>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Detalle - Aviso</ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card style="box-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.75);">
      <ion-row>
        <ion-col size="3" class="ion-text-center">
          <ion-avatar class="avatar-align">
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          </ion-avatar>
          <ion-label>Conductor {{this.driver}}</ion-label>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle>{{post.date}}</ion-card-subtitle>
            <ion-card-title>{{post.detail}}</ion-card-title>
            <ion-card-subtitle style="color: #4c8dff;">{{post.category}}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-card-header class="ion-text-center" style="width: -webkit-fill-available; margin-top: -18px;">
          <ion-card-subtitle>La información es correcta? Favor, calificar el aviso</ion-card-subtitle>
          <ion-grid style="margin: 10px 0px;">
            <ion-row>
              <ion-col size="9">
                <div>
                  <ion-progress-bar class="ion-padding-bottom ion-margin-bottom" color="success" value={{countLike}}
                    buffer="0.1"></ion-progress-bar>
                </div>
              </ion-col>
              <ion-col size="3">
                <div>
                  <ion-label class="p-font p-color-up">{{post.liked}}</ion-label>
                  <ion-icon name="thumbs-up" class="icon-spacing icon-color-up"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9">
                <div>
                  <ion-progress-bar class="ion-padding-bottom ion-margin-bottom" color="danger" value={{countDislike}}
                    buffer="0.1"></ion-progress-bar>
                </div>
              </ion-col>
              <ion-col size="3">
                <div>
                  <ion-label class="p-font p-color-down">{{post.disliked}}</ion-label>
                  <ion-icon name="thumbs-down" class="icon-spacing icon-color-down"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-chip color="success" (click)="increaseProgressUp()">
            <ion-icon color="success" name="thumbs-up"></ion-icon>
            <ion-label color="success">Verdadero</ion-label>
          </ion-chip>
          <ion-chip color="danger" (click)="increaseProgressDown()">
            <ion-icon color="danger" name="thumbs-down"></ion-icon>
            <ion-label color="danger">Falso</ion-label>
          </ion-chip>
        </ion-card-header>
      </ion-row>
    </ion-card>
    <h2 style="margin-left: 12px;">Comentarios:</h2>
    <ion-row style="height: 80px;">
      <ion-col size="10">
        <ion-textarea maxlength="500" minlength="20" clear-on-edit="true" autocapitalize [(ngModel)]="comment.comment" placeholder="Ingrese un comentario.."></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-chip color="secondary" style="margin-top: 13px;float: right;" (click)="CreateComment(comment)">
          <ion-icon name="send-outline"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-list *ngFor="let comment of comments">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/v4/demos/api/avatar/avatar.svg">
        </ion-avatar>
        <ion-label class="ion-text-capitalize; ion-text-wrap" color="dark">
          <p style="font-weight: 500;">Conductor {{comment.driver}}</p>
          <p>{{comment.comment}}</p>
          <p style="color: #4c8dff;"><sub>{{comment.date}}</sub></p>
          <!-- <textarea readonly class="ion-text-capitalize; ion-text-wrap" value="{{comment.comment}}" rows="3" cols="40"></textarea> -->
          <!-- <p>{{comment.date}}</p> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>