
  <ion-header translucent>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Detalle - Aviso</ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-content fullscreen style="height: 92%;">
      <ion-card style="overflow: scroll;overflow-y: initial;">
        <ion-card-content style="height: 350px;">
          <div id="map"></div>
        </ion-card-content>
        <ion-card-content>
          <ion-row style="margin-top: -73px;">
            <ion-col size="3" class="ion-text-center">
              <ion-avatar class="avatar-align">
                <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
              </ion-avatar>
              <ion-label>Conductor {{this.driver}}</ion-label>
            </ion-col>
            <ion-col size="9">
              <ion-card-header>
                <ion-card-subtitle>{{post.date}}</ion-card-subtitle>
                <ion-card-title class="ion-text-capitalize">{{post.detail}}</ion-card-title>
                <ion-card-subtitle style="color: #4c8dff;">{{post.category}}</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>
          <hr>
          <ion-grid style="margin-top: -15px;">
            <ion-row>    
              <ion-col>
                <div class="ion-text-center">
                  <ion-text color="info">
                    <h2>Por favor, Califica este aviso</h2>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button style="float: right;" color="success" shape="round" (click)="increaseProgressUp()">
                  <ion-label style="margin-top: -2px;" class="">{{post.liked}}</ion-label>
                  <ion-icon style="margin: -4px 3px 0px 3px;" name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col style="text-align: center;" size="6">
                <ion-button style="float: left;" color="danger" shape="round" (click)="increaseProgressDown()">
                  <ion-label style="margin-top: -2px;" class="">{{post.disliked}}</ion-label>
                  <ion-icon style="margin: 2px 3px 0px 3px;" name="thumbs-down"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>  
                <h2 style="margin-left: 12px;">Comentarios:</h2>
      <ion-row style="height: 80px;">
      <ion-col size="10">
        <ion-textarea style="background-color: #e2e2e2b8;border-radius: 15px;" maxlength="500" minlength="20"
          clear-on-edit="true" class="ion-text-capitalize" [(ngModel)]="comment.comment"
          placeholder="Escriba un comentario.."></ion-textarea>
      </ion-col>
      <ion-col size="2">
      <ion-button style="margin-top: 20px;" (click)="CreateComment(comment)">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
      </ion-col>
    </ion-row>
        <ion-list *ngFor="let comment of comments">
          <ion-item style="margin-top:-20px">
            <ion-avatar slot="start">
              <img src="https://ionicframework.com/docs/v4/demos/api/avatar/avatar.svg">
            </ion-avatar>
            <ion-label class="ion-text-capitalize; ion-text-wrap" color="dark">
              <p style="font-weight: 500;">Conductor {{comment.driver}}</p>
              <p class="ion-text-capitalize">{{comment.comment}}</p>
              <p style="color: #4c8dff;margin-top: -7px;"><sub>{{comment.date}}</sub></p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      </ion-card> 
    </ion-content>

  