<ion-tabs>

  <ion-tab-bar slot="bottom"  color="warning">
    <ion-tab-button tab="home">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Avisos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addPost">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Enviar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>