<ion-tabs>

  <ion-tab-bar slot="bottom"  color="warning" style="border-radius: 12px;margin: 14px 10px 14px 10px;box-shadow: 0px 0px 0px 21px #f4f4f4;" >
    <ion-tab-button tab="home">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label style="font-size: 18px;">Avisos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addPost">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label style="font-size: 18px;">Enviar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label style="font-size: 18px;">Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label style="font-size: 18px;">Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>