
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="font-size: 22px;" (click)="dismissModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Aviso</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content style="overflow: scroll; overflow-y: initial">

  <ion-grid style="border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;">
    <ion-card-header>
      <ion-card-title style="font-size: 24px;font-weight: 800;color: #221e70;">{{post.category}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: #222428;font-size: 18px;">{{post.detail}}</ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>{{ post.address }}</ion-card-subtitle>
    </ion-card-header>
    <ion-row style="margin-top:-10px">
      <ion-col size="5">       
        <ion-chip (click)="showMapWithMarkers()" color="tertiary">
          <ion-icon name="location-outline"></ion-icon>
          <ion-label>Ver ubicación</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="4">       
        <ion-chip color="tertiary">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>{{post.time}}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3">
        <ion-chip color="tertiary">
          <ion-icon name="eye-outline"></ion-icon>
          <ion-label>{{post.views}}</ion-label>
        </ion-chip>
      </ion-col>  
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col style="margin-bottom: -25px; margin-top: 10px">
        <div class="rate">
          <input checked type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input checked type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input checked type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-text color="info">
            <h6>Por favor, Califica este aviso</h6>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -11px">
      <ion-col size="6">
        <ion-button
          style="float: right"
          color="tertiary"
          shape="round"
          (click)="increaseProgressUp()">
          <ion-label style="margin-top: -2px" class="">{{post.liked}}</ion-label>
          <ion-icon
            style="margin: -4px 3px 0px 3px"
            name="thumbs-up"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center" size="6">
        <ion-button
          style="float: left"
          color="secondary"
          shape="round"
          (click)="increaseProgressDown()">
          <ion-label style="margin-top: -2px" class="">{{post.disliked}}</ion-label>
          <ion-icon
            style="margin: 2px 3px 0px 3px"
            name="thumbs-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style=" padding: 0; margin: 0 10px; border-radius: 40px; margin-top: 15px;">
    <ion-row>
      <ion-col style="padding: 0; margin-top: -7px">
          <ion-text color="info">
            <h4 style="font-weight: 600;">Comentarios</h4>
          </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-left: 0px; margin-right: 10px">
    <ion-row style="height: 80px">
      <ion-col size="10">
        <ion-textarea
          [(ngModel)]="comment.comment"
          style="background-color: #66666614; border-radius: 15px;"
          maxlength="500"
          minlength="20"
          clear-on-edit="true"
          placeholder="Escriba un comentario.."></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button color="success" style="margin-top: 6px;height: -webkit-fill-available;padding-bottom: 6px;padding-top: 6px;" (click)="CreateComment(comment)">
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="comments">
    <ion-list *ngFor="let comment of comments" style="margin-bottom: -5px;">
      <ion-item lines="none" style="padding: 0px 5px;border: solid 1px #67656c26;margin: 0px 10px;border-radius: 5px;">
        <ion-avatar slot="start">
          <ion-icon
            style="font-size: 40px; margin-top: -4px; color: #666666"
            name="person-sharp"></ion-icon>
        </ion-avatar>
        <ion-label color="dark" style="margin: 7px 0px">
          <p style="font-weight: 700">Conductor {{comment.driver}}</p>
          <p>{{comment.comment}}</p>
          <p style="color: #1c7c43; margin-top: -7px;padding-bottom: 2px;">
            <sub>{{comment.date}}</sub>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
