<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon> Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Aviso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow: scroll;overflow-y: initial;">

          <ion-grid>
            <ion-row size="3">
              <ion-col style="margin: auto;" size="3" class="ion-text-center">
                <ion-avatar class="avatar-align" (click)="showMapWithMarkers()">
                  <img src={{post.imgpath}}>
                  <ion-icon (click)="showMapWithMarkers()" style="margin-top: -5px !important;font-size: 25px;font-weight: 500;color: #009688;" name="arrow-forward-circle-outline"></ion-icon>
                </ion-avatar> 
              </ion-col>
              <ion-col size="9">
                <ion-card-header>
                  <ion-card-subtitle>{{post.date}}</ion-card-subtitle>
                  <ion-card-title class="ion-text-capitalize">{{post.detail}}</ion-card-title>
                  <ion-card-subtitle style="color: #4c8dff;">{{post.category}}</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
            </ion-row>
          </ion-grid>

          <hr>

          <ion-grid style="margin-top: -40px;">
            <ion-row>    
              <ion-col>
                <div class="ion-text-center">
                  <ion-text color="info">
                    <h6>Por favor, Califica este aviso</h6>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button style="float: right;" color="success" shape="round" (click)="increaseProgressUp()">
                  <ion-label style="margin-top: -2px;" class="">{{post.liked}}</ion-label>
                  <ion-icon style="margin: -4px 3px 0px 3px;" name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col style="text-align: center;" size="6">
                <ion-button style="float: left;" color="danger" shape="round" (click)="increaseProgressDown()">
                  <ion-label style="margin-top: -2px;" class="">{{post.disliked}}</ion-label>
                  <ion-icon style="margin: 2px 3px 0px 3px;" name="thumbs-down"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>  

          <h6 style="margin-left: 12px;">Comentarios:</h6>

      <ion-grid style="margin-left: 0px;margin-right: 10px;">  
        <ion-row style="height: 80px;">
          <ion-col size="10">
            <ion-textarea [(ngModel)]="comment.comment" style="background-color: #e2e2e2b8;border-radius: 15px;" maxlength="500" minlength="20" clear-on-edit="true" class="ion-text-capitalize"  placeholder="Escriba un comentario.."></ion-textarea>
          </ion-col>
          <ion-col size="2">
          <ion-button style="margin-top: 20px;" (click)="CreateComment(comment)">
            <ion-icon slot="icon-only" name="send-outline"></ion-icon>
          </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>  

       <ion-list *ngFor="let comment of comments">
          <ion-item style="margin-top:-20px">
            <ion-avatar slot="start">
              <ion-icon style="font-size: 32px;color: darkcyan;" name="chatbubble-ellipses-outline"></ion-icon>
            </ion-avatar>
            <ion-label class="ion-text-capitalize; ion-text-wrap" color="dark">
              <p style="font-weight: 500;">Conductor {{comment.driver}}</p>
              <p class="ion-text-capitalize">{{comment.comment}}</p>
              <p style="color: #4c8dff;margin-top: -7px;"><sub>{{comment.date}}</sub></p>
            </ion-label>
          </ion-item>
        </ion-list>

</ion-content>
