<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: small;">
      HakePea, Dashboard Admin
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="contentLoaded">
    <ion-list-header>Alertas en ruta:</ion-list-header>
    <ion-list *ngFor="let post of posts">
      <ion-item-sliding>
        <ion-item class="no-padding" lines="inset" button [routerLink]="['/edit-post/',post.id]">
          <ion-thumbnail slot="start">
            <img src="{{post.imgpath}}">
          </ion-thumbnail>
          <ion-label>
            <h3>{{post.detail}}</h3>
            <p>{{post.category}}</p>
            <p>{{post.date}}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option color="secondary" [routerLink]="['/edit-post/', post.id]">
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deletePost(post.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>

  <div *ngIf="!contentLoaded">
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let item of [].constructor(10)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>