  <ion-header translucent>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Informaciones</ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list *ngFor="let card of cards">
    <ion-card>
      <img style="height: 160px;width: auto; float: right;" src="{{card.img}}" />
      <ion-card-header>
        <ion-card-subtitle>Descripción:</ion-card-subtitle>
        <ion-card-title>{{card.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{card.content}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>