  <ion-header translucent>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" style="font-weight: 700;">Informaciones</ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-list *ngFor="let text of texts">
    <ion-item>
      <ion-thumbnail slot="end">
        <img (click)="openLink(text.content)" style="width: auto;" src="{{text.img}}" />
      </ion-thumbnail>
      <ion-label>
        <h3 style="white-space: pre-wrap;">{{text.title}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>