  <ion-header translucent>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Informaciones</ion-title>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list *ngFor="let text of texts">
    <ion-card style="border-bottom: ridge #5260ff; border-radius: 25px;margin: 0px 18px;box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);">
      <img style="height: 160px;width: auto; float: right;" src="{{text.img}}" />
      <ion-card-header>
        <ion-card-title>{{text.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{text.content}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>