.icon-spacing{
    margin-left: 2px;
}

.icon-spacing.icon-color-up{
    color: #ffc409 !important;
}

.icon-spacing.icon-color-down{
    color: #B43045 !important;
}

.p-font {
    font-size: 14px;
    font-weight: bold;
}

.p-font.p-color-up{
    color: #ffc409;
}

.p-font.p-color-down{
    color: #B43045;
}

.pc {
    background-color: gold;
}

.pn {
    background-color: blue;
}

.card{

    background: rgb(122,84,200);
    background: linear-gradient(180deg, rgba(122,84,200,1) 0%, rgba(0,134,255,1) 100%);

}