.icon-spacing{
    margin-left: 2px;
}

.icon-spacing.icon-color-up{
    color: #187b26 !important;
}

.icon-spacing.icon-color-down{
    color: #ba0b0b !important;
}

.p-font {
    font-size: 14px;
    font-weight: bold;
}

.p-font.p-color-up{
    color: #187b26;
}

.p-font.p-color-down{
    color: #ba0b0b;
}

.pc {
    background-color: gold;
}

.pn {
    background-color: blue;
}