.icon-spacing{
    margin-left: 2px;
}

.icon-spacing.icon-color-up{
    color: #ffc409 !important;
}

.icon-spacing.icon-color-down{
    color: #B43045 !important;
}

.p-font {
    font-size: 14px;
    font-weight: bold;
}

.p-font.p-color-up{
    color: #ffc409;
}

.p-font.p-color-down{
    color: #B43045;
}

.pc {
    background-color: gold;
}

.pn {
    background-color: blue;
}
