<ion-header [translucent]="true" no-border style="margin-bottom: 24px;">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button style="font-size: 25px;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: 700;" class="ion-text-center">
      Avisos en Ruta
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" style="padding-bottom: 5px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;box-shadow: 0px 8px 5px 3px #f3f3f3;">
  <ion-searchbar style="color:#000" mode="ios" debounce="1000" animated placeholder="Buscar ej: km5" (ionChange)="searchPost($event)"> </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="posts">
    <ion-list *ngFor="let post of posts | filtroBusqueda:textoBuscar" style="background-color: #F4F4F4;margin-bottom: 5px;margin-top: -21px;">
      
      <ion-card style="margin-top: 10px;border-bottom: ridge 4px #a0a0a3; border-radius: 25px;" (click)="showModal(post.id)">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="{{post.imgpath}}" />
          </ion-avatar>
          <ion-label>
            <h2 style="color:#5c5c5c;font-weight: 700;">{{post.category}}</h2>
            <h3 style="white-space: pre-wrap;font-size: 16px;">{{post.detail}}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
              <ion-col>
                <ion-label color="tertiary" style="font-size: 14px;font-weight: bold;">{{post.liked}}<ion-icon style="padding: 0px 2px;vertical-align: top;margin-top: 2px;" name="thumbs-up" color="tertiary"></ion-icon></ion-label>
              </ion-col>
              <ion-col>
                  <ion-label color="tertiary" style="font-size: 14px;font-weight: bold;"><b>{{post.disliked}}</b><ion-icon style="padding: 0px 2px;vertical-align: bottom;" name="thumbs-down" color="tertiary"></ion-icon></ion-label>
              </ion-col>
              <ion-col>
                   <ion-badge style="float: right;margin-bottom: 3px;font-size: 14px;" color="tertiary"><ion-icon style="vertical-align: top;" name="time"></ion-icon> {{post.date}}</ion-badge>
              </ion-col>
              <ion-col>
                <ion-badge style="float: right;margin-bottom: 3px;font-size: 14px;" color="tertiary"><ion-icon style="vertical-align: top;margin-right: 5px;" name="eye"></ion-icon>6575</ion-badge>
              </ion-col>
            </ion-row>
        </ion-item>
      </ion-card>


    </ion-list>
  </div>

<!-- Skeleton screen -->
  <div *ngIf="!posts">
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let item of [].constructor(10)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab style="margin-bottom: 10px;" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button style="width: 60px;height: 60px;" color="warning" [routerLink]="['../../addPost/']">
      <ion-icon style="font-size: 40px;" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>