<ion-header [translucent]="true" no-border>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: small" class="ion-text-center">
      HakePea, Red Social del Conductor
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar disabled="true" mode="ios" debounce="1000" animated placeholder="Buscar avisos..."
    (ionChange)="search($event)">
  </ion-searchbar>
  <div *ngIf="posts">
    <ion-list-header>Alertas en tu zona:</ion-list-header>

    <ion-list *ngFor="let post of posts" style="background-color: #F4F4F4;">
      <ion-card [style.border-bottom]="getColorBorder(post.category)" style="border-radius: 25px;margin: 0px 20px 0px 20px;;box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);">
        <ion-item class="no-padding" lines="full" button
          [routerLink]="['../../detail/',post.id]">
          <ion-thumbnail slot="start" style="margin-right: 5px;">
            <img src="{{post.imgpath}}" />
          </ion-thumbnail>
          <ion-label>
            <ion-row>
              <ion-col size="9.5">
                <div class="ion-text-wrap">
                  <h3 [style.color]="getColorText(post.category)" style="font-weight: 500">
                    {{post.category}}
                  </h3>
                  <p class="ion-text-capitalize">{{post.detail}}</p>
                  <p [style.color]="getColorText(post.category)" style="font-weight: 500">
                    <sub>{{post.date}}</sub>
                  </p>
                </div>
              </ion-col>
              <ion-col size="2.5">
                <div style="
                  margin-top: 5%;
                  display: block;
                  float: right;
                ">
                  <p>Calificación</p>
                  <ion-row style="float: right">
                    <ion-label class="p-font p-color-up">{{post.liked}}</ion-label>
                    <ion-icon name="thumbs-up" class="icon-spacing icon-color-up"></ion-icon>
                  </ion-row>
                  <ion-row style="float: right;margin-right: 7px;">
                    <ion-label class="p-font p-color-down">{{post.disliked}}</ion-label>
                    <ion-icon name="thumbs-down" style="margin-top: 3px" class="icon-spacing icon-color-down">
                    </ion-icon>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card>

    </ion-list>
  </div>

  <div *ngIf="!posts">
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let item of [].constructor(10)">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" [routerLink]="['../../addPost/']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>