<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: 700;">Términos de uso</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="border-bottom: ridge #5260ff; border-radius: 25px;margin: 0px 18px;box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);">
      <ion-card-header>
        <ion-card-subtitle>HakePea</ion-card-subtitle>
        <ion-card-title>ACUERDO DE LICENCIA DE USUARIO FINAL</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ul *ngFor="let disclaimer of disclaimers">
          <li>{{disclaimer.description}}</li>
        </ul> 
      </ion-card-content>
    </ion-card>
</ion-content>